<div class="container">
    <div class="row my-3">
        <div class="col d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-dark" [routerLink]="['/habits']">Back</button>
            <button class="btn btn-primary" [routerLink]="['/newrecord', habitId]">Add</button>
        </div>
    </div>

    <div *ngIf="template != null">
        <h2>Records for {{template['habit_title']}}</h2>
    </div>
    
    <div class="list-group">
        <div *ngFor="let r of habitRecords" class="list-group-item">
            <div class="d-flex justify-content-between">
                <h5 class="mb-3">{{r.value}} {{template['unit']}}</h5>
                <small>{{r.date}}</small>
            </div>    
                <p>{{r.comments}}</p>
        </div>
    </div>

    <div *ngIf="habitRecords == undefined">
        <h5>There are no records found.</h5>
    </div>
</div>