<div class="container">
    <div class="row my-3">
        <div class="col d-flex justify-content-between align-items-center">
            <span>
                <button class="btn btn-outline-dark" [routerLink]="['/habits']">Back</button>
                <button class="btn btn-dark ml-2" (click)="logout()">Logout</button>
            </span>
            <button class="btn btn-warning" style="color: white" [routerLink]="['/newrecord', habitId]">Add</button>
        </div>
    </div>
<hr>
    <div *ngIf="template != null" class="card bg-danger mb-3">
        <div class="card-body" style="color: white"><h2>{{template['title']}}</h2></div>
    </div>

    <table class="table">
        <tr>
            <th scope="col-3">
                Start date
            </th>
            <th>
                {{template.startdate.toString().slice(0, 16)}}
            </th>
        </tr>
        <tr>
            <th>
                End date
            </th>
            <th>
                {{template.enddate.toString().slice(0, 16)}}
            </th>
        </tr>
        <tr>
            <th>
                Total {{template.parameter}} recorded
            </th>
            <th>
                {{totalProgress}} {{template.unit}}
            </th>
        </tr>
    </table>
<hr>

    <div *ngIf="recordDates != undefined" class="row justify-content-center mt-4">
        <p-calendar [inline]="true" [(ngModel)]="recordDates" selectionMode="multiple" [minDate] ="template['startdate']" [maxDate]="template['enddate']"></p-calendar>
    </div>
<hr>
    <div *ngIf="template != null" class="mt-4">
        <h3>Records</h3>
    </div>
    
    <div class="list-group">
        <div *ngFor="let r of habitRecords" class="list-group-item">
            <div class="d-flex justify-content-between">
                <h5 class="mb-3">{{r.value}} {{template['unit']}}</h5>
                <small>{{r.date.toString().slice(0, 16)}}</small>
            </div>    
                <p>{{r.comments}}</p>
        </div>
    </div>

    <div *ngIf="habitRecords == undefined">
        <h5>There are no records found.</h5>
    </div>
</div>